*{
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
.proudct{
    
    padding: 30px 0 40px 0;
    margin-top: 80px;
    outline: 0 !important;
    background-color: white;
  } 
  .proudct_product{
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      width:750px;
      min-height: 600px;
     
      border-radius: 20px;

  }

  .proudct_product_div{
      width: 100%;
      height: 500px;
      border-radius: 10px;
  }
  .proudct_product_img_div{
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 50px;

  }
  .proudct_product_profile_div{
      margin-top: 20px;
      display: inline-block;
      width: 95%;
  }

  .proudct_product_div img{
    width: 100%;  
    height: 60%;
    border-radius: 10px;
    border: none;
  }

  .proudct_product_profile{
      width: 50px;
      height: 50px;
      float: left;
      margin-right: 10px;
      height: 70px;

  }
  .proudct_product_profile img{
    border-radius: 100%;
  }
  .proudct_product_profile_name{
      width: 100%;
      padding-left: 30px;

  }
  
  .proudct_product_profile_name_address{
    font-size: 13px;
    color: gray;
}

/* .proudct_product_profile_chat{
    float: right;
} */
.proudct_product_profile_name input{
    margin-top: -20px;
    width: 100px;
    height: 40px;
    border:1px solid rgb(245, 245, 245) ;
    border-radius: 5px;
    background-color: #ff8a3d;
    color: white;
    font-size: 15px;
    font-weight: 600;
}    

.cr{
    width: 100%;
    border-bottom: 1px solid rgb(201, 201, 201) ;
    margin-bottom: 40px;
    
}



.product_detail h1{
    font-size: 17px;
}
.product_detail_kinds,.product_detail_time,.product_detail_favorite,.product_detail_chatting,.product_detail_select{
    font-size: 13px;
    color: gray;
} 

.product_detail_content{
    margin-top: 20px;
    width: 100%;
    height: 500px;
    outline: none;
    border: none;
    resize:none;
    padding: 0;
    font-size: 18px;
}







.main{
    
    margin-top: 630px;
    outline: 0 !important;
    background-color: white;
  } 
  .main_product{
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      width:700px;
      min-height: 200px;
      border: 1px solid rgb(223, 223, 223);
      border-radius: 20px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 30px;
      box-shadow: rgb(247, 247, 247) 0px 0px 0px 2px;
      margin-bottom: 30px;
  }
  .main_product p{
      margin-left: 30px;
      padding-top: 15px;
      font-size: 18px;
      font-weight: 600;
      color: rgb(70, 70, 70);
      

  }
  .main_product_div{
      width: 205px;
      height: 280px;
      border: 1px solid rgb(223, 223, 223);
      display: inline-block;
      margin: 10px;
      border-radius: 10px;
  }
  .main_product_div img{
    width: 100%;  
    height: 60%;
    border-radius: 10px;
    border: none;
  }

  .main_product_title{
      color: balck;
      font-weight: 700;
      margin-left: 5px;
      margin-top: 5px;
  }
  .main_product_address{
      color: gray;
      font-size: 13px;
      margin-top:-15px ;
  }
  .main_product_price{
    color: #ff8a3d;
    font-weight: 600;
    font-size: 15px;


  }

  .main_product_favorit{
      padding-right: 10px;
      float: right;
        color: black;
    }





    /* =================================================================footer */
  .footer{
    
    background-color: #495057;
    height: 200px;
    display: block;
  }