@charset "UTF-8";
*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}


body{
 font-family: 'NanumMyeongjoYetHangul';

}

.login_main{
    width: 700px;
     height: 400px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border: 1px rgb(231, 231, 231) solid;
    border-radius: 10px;
    box-shadow: rgb(247, 247, 247) 0px 0px 0px 2px;
    padding: 50px;
    text-align: center;
    margin-bottom:130px;
    
}    
.login_main_p{
    font-size: 18px;
    color: grey;
    font-weight: 600;
    
}
.login_main_sub{
    width: 410px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}


.login_main img{
    float: left;
    width: 30px;
    height: 30px;
}
.login_main_header_div{
   height:80px;
}
.login_title{
    float: left;
    font-size: 25px;
    color:#ff8a3d;
    font-weight: 600;
}
.login_main_p{
}
.email_div{
   margin-bottom:10px;
   text-align: left;
   font-size: 18px;
   color: rgb(134, 134, 134);
   font-weight: 600;
}
.email_input , .pwd_input {
   margin-bottom:20px;
    border: none;
    height: 35px;
    border:rgb(224, 224, 224) 1px solid;
    border-radius: 5px;
    width:400px;
    box-shadow: rgb(247, 247, 247) 0px 0px 0px 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    color: rgb(65, 65, 65);
    font-weight: 500;


}
.pwd_div{
   margin-bottom:10px;
   text-align: left;
   font-size: 18px;
      color: rgb(134, 134, 134);
   font-weight: 600;
}

.login_input{
   width:200px;
   height:40px;
   border:none;
   background: linear-gradient( to bottom, #fd9855, #ff8a3d );
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    box-shadow: rgb(247, 247, 247) 0px 0px 0px 2px;
    margin-top: 20px;
}
.join_input{
   width:200px;
   height:40px;
   border:none;
   background: linear-gradient( to bottom,rgb(146, 146, 146), gray );
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 600;

    
}