<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="CartDAO">
 

<!-- 	<insert id="insertCart"> 
        INSERT INTO cart (cartno,category, name,price,filename,resdate,memberNo ) VALUES (seq_cart.nextval, #{category},#{name},#{price},#{filename},sysdate,#{memberNo}) 
    </insert>
    
    <select id="getcartCount" resultType="cart" parameterType="cart">
  		select count(*)"cartno" from cart where memberNo =#{value}
  	</select>
  	
  	<select id="getCartList" resultType="cart">
    	select * from cart where memberNo=#{memberNo}
    </select>
    
    <select id="getCartListCount" resultType="int">
    	select count(*) from cart where memberNo=#{memberNo}
    </select> -->
  
 	
</mapper>