<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="ImageDAO">
 

    
<!--     <select id="boardImages" resultType="image" parameterType="image">
    	select imagename from image where boardno=#{boardno} order by imageno
    </select>  -->
  
 	<insert id="insertBoardImage" parameterType="image">
 		insert into image(imageindex,memberno,boardno,imagename) values(#{imageindex},#{memberno},#{boardno},#{imagename})
 	</insert>
 	
 	<select id="boardImages" resultType="board">
	<![CDATA[
	    select a.boardno, a.memberno, a.title, a.category,a.datetime,a.content,a.price, nvl((b.cnt),0)"cnt",d.imagename,e.address,f.wish
		from board a
		LEFT JOIN (SELECT boardno,COUNT(distinct(memberno))cnt FROM guest GROUP BY boardno ) b
		ON a.boardno = b.boardno
		LEFT JOIN image d
		ON a.boardno = d.boardno
		LEFT JOIN member e
		ON a.memberno = e.memberno
		LEFT JOIN (SELECT boardno,COUNT(memberno)wish FROM wish group by boardno) f
		ON a.boardno = f.boardno
		where a.boardno=#{boardno}    
		order by d.imageindex asc NULLS LAST
     ]]>
    </select>
    
</mapper>