<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="ImageDAO">
 

    
    <select id="boardImages" resultType="image" parameterType="image">
    	select imagename from image where boardno=#{boardno} order by imageno
    </select> 
  
 	
</mapper>