<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="MemberDAO">
 

    
    <select id="memberList" resultType="member">
    	select * from member
    </select> 
  
   <select id="memberInfo" resultType="member" parameterType="member">
    	select * from member where memberno=#{memberno}
    </select> 
    
    
    <insert id="insertMember" parameterType="member"> 
        insert into member(email,password,name,gender,phone,address) values(#{email},#{password},#{name},#{gender},#{phone},#{address}) 
    </insert>
    
   <select id="emailChk" resultType="member" parameterType="member">
  		select NVL(count(email),0)"email"  from member where email = #{email}
  	</select>
  	
   	<select id="loginMember" resultType="member">
    	select * from member where email = #{email}
    </select>
    
    <update id="updateProfileImg" parameterType="member"> 
        update member set profile =#{profile} , profiletype=#{profiletype} where memberno = #{memberno} 
    </update>
 	
</mapper>